<%- include("../partials/header") %>

<div class="carousel"></div>
<div class="products">
  <% foundProducts.forEach(product => {%>
    <div class="product">
        <img
        class="product-image"
        src="
        https://source.unsplash.com/random/?city,night"
        alt="image"
        />
        <p><%= product.productName %></p>
        <p>Price: <%= product.productPrice %></p>
    </div>
  <% }) %>
  </div>

<%- include("../partials/footer") %>
