<%- include("../partials/header") %>
<div class="carousel"></div>
<div class="products">
  <div class="product">
    <img
      class="product-image"
      src="
        https://source.unsplash.com/random/?city,night"
      alt="image"
    />
    <p>product name</p>
  </div>
  <div class="product">
    <img
      class="product-image"
      src="
        https://source.unsplash.com/random/?city,night"
      alt="image"
    />
    <p>product name</p>
  </div>
  <div class="product">
    <img
      class="product-image"
      src="
        https://source.unsplash.com/random/?city,night"
      alt="image"
    />
    <p>product name</p>
  </div>
  <div class="product">
    <img
      class="product-image"
      src="
        https://source.unsplash.com/random/?city,night"
      alt="image"
    />
    <p>product name</p>
  </div>
  <div class="product">
    <img
      class="product-image"
      src="
        https://source.unsplash.com/random/?city,night"
      alt="image"
    />
    <p>product name</p>
  </div>
</div>
<%- include("../partials/footer") %>
