<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/login-register.css" />
  </head>
  <body>
    <div class="login-register-form">
      <h1>Register</h1>
      <form action="/auth/register" method="post" autocomplete="off">
        <input type="text" name="username" required placeholder="Username" />
        <input
          type="email"
          name="email"
          required
          placeholder="Ex: Email@provider.com"
        />
        <input
          type="password"
          name="password"
          required
          placeholder="Your super secret"
        />
        <button class="register-login-button" type="submit">Register</button>
      </form>
      <br />
      <p>Already registered in? <a href="/auth/login">Login here.</a></p>
    </div>
  </body>
</html>
